@model HomeWorkMVC.Models.SupportRequest

@{
    ViewData["Title"] = "DetailsRequest";
}

<form method="post" asp-controller="Table"
            asp-action="UpdateStatus"
            onsubmit="return verifyTicketIsOpen()">
    <input class="form-check-input disabled" name="requestId" value="@Model.Id.ToString()"/><p ></p>
    <p name="topic">Topic: @Model.Topic</p>
    <div class="accordion accordion-flush" id="accordionFlushExample" style="width: 500px">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Description
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample" style="">
                <div class="accordion-body" name="description">@Model.Description</div>
            </div>
        </div>
    </div>

    <p class="h5" name="fullNameSupport">Specialist: @Model.SupportSpecialist.FullName</p>
    <p class="h5" name="department">Department: @Model.Department.Name</p>
    <input class="form-select" aria-label="Default select example" style="width: 500px" name="status" value="@Model.SupportRequestStatus"/>
    <button type="submit" class="btn btn-success" >Save</button>
</form>


<script>
    const saveTicket = () => {
        
        }
</script>